<z-card class=" w-full max-w-sm p-3 sm:p-4 md:p-6space-y-2 sm:space-y-3 md:space-y-4 " [zTitle]="product().name"> 
      <div class="space-y-3 sm:space-y-4"> 
    
        <div class="space-y-2">
          <div class="flex items-center justify-center sm:justify-start">
            <z-avatar zSize="lg" [zImage]="{ url: product().imageUrl, alt: product().name, fallback: '' }" />
          </div>
         
        </div>
        <div class="space-y-2">
          <span class="text-base sm:text-lg font-bold">Price: ${{ product().price }}</span>
        </div>
     
        <div class="space-y-2">
          <z-button 
          class="w-full text-sm sm:text-base"
          zType="outline" (click)="onAddFavorite(product())"> 
            <z-icon zType="heart" zSize="sm" 
            [class]="(product().isFavorite) ? 'text-destructive' : 'text-gray-500'" />
            <span class="hidden xs:inline">Add to favorites</span>
            <span class="inline xs:hidden">Favorite</span>
          </z-button>
        </div>

        <div class="space-y-2">
          <z-button 
          zType="outline"
          class="w-full text-sm sm:text-base"
          routerLink="/product/{{ product().id }}">
          View details
        </z-button>
        </div>

      </div>
    </z-card>